@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

// Slack logo colors
$color__logo-blue: #36C5F0;
$color__logo-yellow: #ECB22E;
$color__logo-green: #2EB67D;
$color__logo-red: #E01E5A;
$color__logo-black: #000000;

// Slack accessible colors
$color__accessible-blue: #1264A3;
$color__accessible-green: #007A5A;

// Slack accent colors
$color__primary: #4A154B;
$color__primary-null: #611F69;
$color__primary-active: #7C3085;

// Actual Slack font is Larsseit(premium)
// Letter spacing: -1px smaller headlines, -2px for larger headlines
@mixin lato {
    font-family: 'Lato', sans-serif;
}

@mixin slack-font {
  @include lato;
} 
