@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

// Slack logo colors
$color_logo_blue: #36C5F0;
$color_logo_yellow: #ECB22E;
$color_logo_green: #2EB67D;
$color_logo_red: #E01E5A;
$color_logo_black: #000000;

// Slack accessible colors
$color_accessible_blue: #1264A3;
$color_accessible_green: #007A5A;

// Slack accent colors
$color_primary: #3f0e40;
$color_primary_null: rgb(15, 13, 15);
$color_primary_active: #7C3085;

$color_white: #fff;
$color_gray: #616061;

// Actual Slack font is Larsseit(premium)
// Letter spacing: -1px smaller headlines, -2px for larger headlines
@mixin lato {
    font-family: 'Lato', sans-serif;
}

@mixin slack-font {
  @include lato;
} 

// Global styles
.overflow_ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}