@import './variables';


.channels_container {
  @include slack-font;
  position: relative;
  height: 100%;
  z-index: 200;
  display: flex;
  flex-shrink: 0;
  flex-basis: 220px;
  flex-direction: column;
  background-color: $color_primary;
  color: rgb(197, 183, 198);
}