@import './variables';


.sidebar_list_container {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  line-height: 26px;
  width: 100%;
  cursor: pointer;
}

.sidebar_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(197, 183, 198);
  font-size: 16px;
  margin-left: 15px;
  letter-spacing: -.25px;
  cursor: pointer;
}

.sidebar_title_channels {
  &:hover {
    color: $color_white;
  }
}

.icon_plus {
  height: 14px;
  width: 14px;
  border: 1px solid rgb(197, 183, 198);
  border-radius: 50%;
  margin: 2px 15px 0 0;
  fill: rgb(197, 183, 198);
  
  &:hover {
    fill: $color_white;
  }
}

.sidebar_btn_wrapper {
  width: 100%;

  &:hover {
    background-color: #350D36;
  }
}

.sidebar_icon {
  display: inline-block;
  opacity: .64;
  margin-right: 7px;
}

.sidebar_channel {
  width: 87%;
  margin-left: 15px;
  transition: color .1s ease-out;
}

.selected_channel {
  color: $color_white;
  background-color: #1164A3;
  // Override other hover color
  &:hover {
    background-color: #1164A3;
  }
}
