@import './variables';


.messages_wrap {
  height: 100%;
  overflow-y: scroll;
}

.message_line_container {
  width: 100%;
}

.message_line {
  display: flex;
  align-items: flex-start;
  min-height: 45px;
  font-size: 15px;
  padding: 6px 0;

  &:hover {
    background-color: #f8f8f8;
  }
}

.message_gutter {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  min-width: 70px;
  max-width: 70px;
  padding-right: 8px;
}

.message_content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.message_sender_wrap {
  color: #1d1c1d;
  font-weight: 900;
}

.message_sender {
  display: relative;
  cursor: pointer;

  &:hover {
    color: #1d1c1d;
    text-decoration: underline;
  }
}

.message_timestamp {
  font-size: 12px;
  font-weight: 400;
  color: $color_gray;
  margin-left: 6px;
}

.message_body {
  display: inline-block;
  width: 100%;
  color: #1d1c1d;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 1.46668;
}

// Icons

.portrait {
  &:hover {
    cursor: pointer;
  }
}

.icon_disney {
  height: 50px;
  border-radius: 3px;
}

.icon_starwars {
  height: 35px;
  margin-right: 7px;
  margin-top: 3px;
  border-radius: 3px;
}

.icon_sports {
  height: 35px;
  margin-right: 7px;
  margin-top: 3px;
  border-radius: 3px;
}

.icon_cool_peeps {
  height: 35px;
  margin-right: 7px;
  margin-top: 3px;
  border-radius: 3px;
}

.icon_pokemon {
  height: 35px;
  margin-right: 7px;
  margin-top: 3px;
  border-radius: 3px;
}