@import './variables';


.client_body {
  position: relative;

  &::before {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    content: '';
    z-index: 200;
    box-shadow: inset 1px 0 0 0 #ddd;
  }
}

.date_pill {
  position: absolute;
  background: #fff;
  z-index: 300;
  padding: .25rem .75rem;
  border-radius: 24px;
  left: 46%;
  top: -12px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -.25px;
}