@import './variables';


.profile_content {
  // 320 x 590
  position: absolute;
  z-index: 100;
  right: -23rem;
  bottom: -1rem;
  min-width: 200px;
  max-width: 360px;
  color: #1d1c1d;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .08),
  0 4px 12px 0 rgba(0, 0, 0, .12);
}